html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h2.games-list {
  margin-bottom: 40px;
}

nav.header {
  background-color: #6578ff;
  color: white;
  padding: 20px;
  box-shadow: 1px 3px #0000008c;
  margin-bottom: 50px;
}

.header .logo {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.header .links {
  display: inline-block;
  float: right;
}

.header a {
  color: white;
}

.header .links li {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}

.header .links li:hover {
  border-bottom: 3px solid black;
  color: #1bff42;
}

.not-found {
  margin-top: 100px;
}

.not-found img {
  width: 400px;
}

.not-found h1 {
  margin-top: 30px;
  margin-left: 20px;
}

.heart {
  color: red;
  font-size: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #efefef;
  border-top: 1px solid #cecece;
  text-align: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.game-card {
  border: 1px solid #cecece;
  cursor: pointer;
  line-height: 200px;
  text-align: center;
  margin-right: 20px;
}

.game-card a {
  display: block;
}

.dnd-game {
  text-align: center;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 40px;
  border: 1px solid beige;
}

.dnd-game .destination {
  margin-bottom: 50px;
}

.dnd-game .destination .box {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.dnd-game .source {
  display: inline-block;
}

.dnd-game .source .dnd-number div {
  display: inline-block;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.dnd-game .source .dnd-number {
  border: 1px solid black;
  background-color: red;
  margin: 0 auto;
}

.dnd-number.size-one   { width: 40px !important; }
.dnd-number.size-two   { width: 80px !important; }
.dnd-number.size-three { width: 120px !important; }
.dnd-number.size-four  { width: 160px !important; }
.dnd-number.size-five  { width: 200px !important; }

.you-win button {
  background-color: orange;
  color: white;
  border: 1px solid #c68307;
  border-radius: 5px;
  height: 40px;
  position: absolute;
  right: 25%;
  top: 30%;
}