@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content {
  margin-top: 20px;
}

.home h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.home h4:not(.sound-msg) {
  margin-top: 40px;
}

h2.games-list {
  margin-bottom: 40px;
}

nav.header {
  background-color: #6578ff;
  color: white;
  padding: 20px;
  box-shadow: 0px 3px #0000008c;
}

.header .logo {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.header a {
  color: white;
}

.header li {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.header li:hover {
  border-bottom: 3px solid black;
  color: #1bff42;
}

.header, .header .right {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.header .flags-container {
  display: flex;
  margin-left: 10px;
}

.header .flags-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.not-found {
  text-align: center;
  margin-top: 20px;
}

.not-found img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.not-found h1 {
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.heart {
  color: red;
  font-size: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #efefef;
  border-top: 1px solid #cecece;
  text-align: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.games-list {
  margin-bottom: 30px;
}

.game-card {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 20%;
  margin-bottom: 10px;
  box-shadow: 1px black solid aliceblue;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  margin-right: 30px;
  height: 300px;
  vertical-align: top;
}

.game-card .game-number-1 {
  background: url('../images/numbers.png');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card .game-number-2 {
  background: url('../images/numbers_2.png');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card .game-number-3 {
  background: url('../images/abc.png');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card .game-number-4 {
  background: url('../images/memotest-cars.png');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card .game-number-5 {
  background: url('../images/memotest-pocoyo.png');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card .game-number-6 {
  background: url('../images/memotest/emojis/emoji-logo.jpeg');
  background-size: 100% 80%;
  width: 90%;
  margin-left: 5%;
  background-repeat: no-repeat;
}

.game-card span {
  color: crimson;
}

.game-card a {
  display: block;
  height: 180px;
  margin-top: 15px;
}

.dnd-game {
  text-align: center;
  padding: 30px 0 30px 0;
  background-color: aliceblue;
  border-radius: 40px;
  border: 1px solid beige;
}

.dnd-game .destination {
  margin-bottom: 50px;
}

.dnd-game .destination .box {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.dnd-game .source {
  display: inline-block;
}

.numbers-list-game .dnd-game .source {
  display: flex;
}

.dnd-game .source .dnd-number div {
  display: inline-block;
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 40px;
}

.dnd-game .source .dnd-number {
  border: 1px solid black;
  background-color: red;
  margin: 0 auto;
}

.dnd-game .size-10 div {
  padding: 5px;
}

.horizontal {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

.horizontal div:not(.dnd-game) {
  margin-left: 10px;
  border-radius: 20px;
  text-align: center;
}

.horizontal .dnd-game .source .dnd-number {
  width: 50px;
  height: 50px;
}

.sound-msg {
  margin: 10px;
  color: darkred;
}

.dnd-number.size-one   { width: 40px !important; }
.dnd-number.size-two   { width: 80px !important; }
.dnd-number.size-three { width: 120px !important; }
.dnd-number.size-four  { width: 160px !important; }
.dnd-number.size-five  { width: 200px !important; }

.winner {
  font-size: 30px;
  display: inline-block;
}

.you-win {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.you-win button {
  background-color: orange;
  color: white;
  border: 1px solid #c68307;
  border-radius: 5px;
  height: 40px;
  margin: 20px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

#lets-play {
  margin-top: 40px;
  text-align: center;
}

#lets-play span {
  color: brown;
}

#lets-play .home-game-img {
  width: 140px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.memotest {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.memotest-box {
  display: inline-block;
  border: 2px solid darkred;
  margin: 10px;
  width: 135px;
  height: 220px;
  border-radius: 10px;
}

.memotest-box img:not(.hide) {
  width: 100%;
  visibility: visible;
  opacity: 1;
  height: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.memotest-box img.hide {
  width: inherit;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(-5deg); }
  50% { -moz-transform: rotate(5deg); }
  100% { -moz-transform: rotate(-5deg); }
}
@-webkit-keyframes spin {
  0% { -moz-transform: rotate(-5deg); }
  50% { -moz-transform: rotate(5deg); }
  100% { -moz-transform: rotate(-5deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(-5deg); transform:rotate(-5deg); }
  50% { -webkit-transform: rotate(5deg); transform:rotate(5deg); }
  100% { -webkit-transform: rotate(-5deg); transform:rotate(-5deg); }
}
