@media screen and (max-width: 600px) {
  .not-found img {
    width: 70%;
  }

  .game-card {
    margin: 0 auto;
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    margin-right: 10px;
    height: auto;
  }

  .widthError {
    margin-bottom: 50px;
    background: yellow;
    border-radius: 15px;
    color: #6d6d6d;
    text-align: center;
    border: solid #fff6aa 3px;
  }

  .hideMsg {
    display: block;
    cursor: pointer;
    width: 15px;
    float: right;
  }

}
